html, body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Caveat', cursive;
}

body {
    width: 80%;
    margin: 0px auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

a {
    text-decoration: none;
}

a img:hover {
    opacity: 0.85;
}

abbr[title] {
  text-decoration: underline;
}

::selection {
  color: white;
  background: #81C784;
}

#header-text {
    font-size: 1.8vw;
    line-height: 1.2;
}

#notes, #telegram {
    font-size: 22px;
}

#notes a, #telegram a {
    color: #4CAF50;
}

#notes a:hover, #telegram a:hover {
    text-decoration: underline;
}

/* Screen > 530px */
/*
@media screen and (min-width: 530px) {

  h1 {
    font-size: 26pt;
  }

  article {
    font-size: 14pt;
  }

  .adjust-width {
    margin: 0;
  }

  #header-menu ul {
    flex-direction: row;
    margin-top: 18px;
  }

  #content p.content-highlight {
    font-size: 24pt;
  }

  #share a span {
    display: inline;
  }
}*/
