        {% extends "base.html" %}

        {% block content %}

        <article>
            <header class="w3-container">
                <h2>Архивы</h2>
            </header>
            <section id="notes">
                <ul class="w3-xlarge">
                    {% for article in dates %}
                    <li><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>: <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
                    {% endfor %}
                </ul>
            </section>
        </article>

        {% endblock content %}
