        {% extends "base.html" %}

        {% block content %}
        <div class="w3-content" style="max-width: 800px;">
            <article>
                <div class="w3-row">
                    <div class="w3-quarter">
                        <img style="width: 100%;" src="{{ SITEURL }}/images/{{ article.slug }}.jpg">
                    </div>
                    <div class="w3-threequarter w3-container">
                        <header class="w3-row">
                            <h2>{{ article.title }} (<time class="w3-opacity" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>)</h2>
                        </header>
                        
                        {% if article.tags %}
                        <div class="w3-row w3-hide-small">
                            {% for tag in article.tags %}
                            <a class="w3-tag w3-dark-grey w3-opacity w3-hover-black" href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a>
                            {% endfor %}
                        </div>
                        {% endif %}
                        
                        <div class="w3-row">
                            <p class="w3-xlarge w3-opacity" style="line-height: 1.1;">{{ article.summary|striptags }}</p>
                        </div>
                    </div>
                </div>

                <section class="w3-row w3-container" id="notes">
                    {{ article.content }}
                </section>
                
                <section class="w3-row w3-container" id="telegram">
                    <h1>{{ TG_HEADER }}</h1>
                    <p>{{ TG_NOTE }}</p>
                    <ul>
                        {% for name, link in TG_LINKS %}
                        <li><a href="{{ link }}" target="_blank">{{ name }}</a>
                        {% endfor %}
                    </ul>
                </section>

                <footer class="w3-row w3-padding-24">
                    <div class="w3-bar">
                        {% for name, link in PODCAST_PLATFORMS %}
                        <a class="w3-bar-item w3-large w3-button w3-mobile" style="width:{{ (100 / loop.length)|round(2) }}%" href="{{ link }}" target="_blank">{{ name }}</a>
                        {% endfor %}
                    </div>
                </footer>
            </article>
        </div>

        {% endblock content %}
