<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="Keywords" content="VMware, News, Russia, Technology, IT">
        <meta name="description" content="{{ SITENAME }} &ndash; {{ SITESUBTITLE }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

        {% if article %}
        <meta property="article:author" content="{{ article.author }}" />
        <meta property="article:section" content="{{ article.category }}" />
        <meta property="article:published_time" content="{{ article.date.strftime("%Y-%m-%d") }}" />

        <meta property="og:type" content="article"/>
        <meta property="og:title" content="{{ article.title|striptags }}"/>
        <meta property="og:description" content="{{ article.summary|striptags|escape }}"/>
        <meta property="og:site_name" content="{{ SITENAME }}" />
        <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}"/>

        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="{{ article.title|striptags }}">
        <meta name="twitter:description" content="{{ article.summary|striptags|escape }}">
        <meta name="twitter:url" content="{{ SITEURL }}/{{ article.url }}">
        {% elif page %}
        <meta property="og:type" content="article"/>
        <meta property="og:title" content="{{ page.title }}"/>
        <meta property="og:description" content="{{ SITESUBTITLE }}"/>
        <meta property="og:site_name" content="{{ SITENAME }}" />
        <meta property="og:url" content="{{ SITEURL }}/{{ page.url }}"/>
        <meta property="og:image" content="{{ AUTHOR_AVATAR }}"/>
        {% else %}
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="{{ SITENAME }}"/>
        <meta property="og:description" content="{{ SITESUBTITLE }}"/>
        <meta property="og:site_name" content="{{ SITENAME }}" />
        <meta property="og:url" content="{{ SITEURL }}"/>
        <meta property="og:image" content="{{ AUTHOR_AVATAR }}"/>
        {% endif %}

        <!--link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:regular,bold"-->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Caveat&display=swap">
        <!--link rel="stylesheet" type="text/css" href="http://www.w3schools.com/lib/w3.css"-->
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/w3.css">
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css">

        <link rel="shortcut icon" type="image/x-icon" href="{{ SITEURL }}/favicon.ico">

        <link type="application/rss+xml" rel="alternate" title="{{ PODCAST_NAME }}" href="{{ PODCAST_FEED_XML }}">
    </head>

    <body class="w3-black">
        <header class="w3-center w3-black">
            <h1><a href="/">{{ SITENAME }}</a></h1>
        </header>

        {% block header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        <footer class="w3-container w3-center w3-black w3-text-grey w3-padding-48 my-font">
            <span>&copy; {{ YEAR_START }}{% if YEAR_START and YEAR_NOW %}-{% endif %}{{ YEAR_NOW }} {{ AUTHOR }}</span>
        </footer>

        {% if GOOGLE_ANALYTICS %}
        {% include "ga.html" %}
        {% endif %}
    </body>
</html>
