        {% extends "base.html" %}

        {% block content %}

        <article>
            <header class="w3-container">
                <h2>Категории</h2>
            </header>

            <section id="notes">
                <ul class="w3-xlarge">
                    {% for category, articles in categories %}
                    <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }} ({{ articles|count }})</a>
                    {% endfor %}
                </ul>

                <hr>

                {% for category, articles in categories %}
                <h3>{{ category }}</h3>
                <ul>
                    {% for article in articles %}
                    <li><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time> <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                    {% endfor %}
                </ul>
                {% endfor %}
            </section>
        </article>

        {% endblock content %}
