        {% extends "index.html" %}

        {% block content_title %}

        <div class="w3-container w3-center">
            <h2>{{ category }}</h2>
        </div>

        {% endblock content_title %}
