        <aside class="w3-hide-small">
            <div class="w3-row">
                <div class="w3-third">
                    <img class="w3-image" src="{{ SITEURL }}/images/logo.jpg" alt="Alex & Alex">
                </div>
                <div class="w3-twothird w3-padding-medium" id="header-text">
                    <p class="my-font w3-text-grey">{{ PODCAST_DESCRIPTION }}</p>
                </div>
            </div>
            <div class="w3-row">
                <ul class="w3-navbar w3-black w3-center">
                    {% for name, link in PODCAST_PLATFORMS %}
                    <li class="my-font w3-xlarge w3-text-light-grey" style="width:{{ (100 / loop.length)|round(2) }}%"><a href="{{ link }}" target="_blank">{{ name }}</a>
                    {% endfor %}
                </ul>
            </div>
        </aside>
