        {% extends "base.html" %}

        {% block header %}
        {% if articles_page.number == 1 %}
        {% include 'header.html' %}
        {% endif %}
        {% endblock %}

        {% block content %}
        
        <br>

        {% for article in articles_page.object_list %}
        <article class="w3-row w3-content w3-display-container w3-light-gray" style="max-width: 800px;">
            <div class="w3-quarter">
                <img style="width: 100%;" src="{{ SITEURL }}/images/{{ article.slug }}.jpg">
            </div>
            <div class="w3-threequarter w3-container">
                <header class="w3-row">
                    <h2 class="w3-margin-0"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
                    <p class="w3-margin-0 w3-large" style="margin-top: -0.6em!important;">
                        <time class="w3-opacity" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
                    </p>
                </header>

                <div class="w3-row">
                    <p class="w3-xlarge" style="line-height: 1.1;">{{ article.summary|striptags }}</p>
                </div>
            </div>
            
            {% if article.tags %}
            <div class="w3-display-topright w3-hide-small w3-third">
                {% for tag in article.tags %}
                <a class="w3-tag w3-light-grey w3-hover-black" href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a>
                {% endfor %}
            </div>
            {% endif %}
            
            <div class="w3-row w3-display-bottomright">
                <a class="w3-btn w3-light-grey w3-hover-black w3-right" href="{{ SITEURL }}/{{ article.url }}">Ознакомиться &#10093;</a>
            </div>
        </article>
        <br><br>
        {% endfor %}

        {% if articles_page.has_other_pages() %}
        {% include 'pagination.html' %}
        <br>
        {% endif %}

        {% endblock content %}
