        {% extends "base.html" %}

        {% block content %}

        <article>
            <header class="w3-container">
                <h2>{{ page.title }}</h2>
                <div class="w3-content">
                    <div class="w3-opacity w3-margin-right w3-margin-bottom" style="flex-grow: 1;">
                        {{ page }}
                    </div>
                </div>
            </header>

            <section id="notes" class="w3-container">
                {{ page.content }}
            </section>
            <footer class="w3-container">
                {% if page.modified %}
                <p>Обновлено: {{ page.locale_modified }}</p>
                {% endif %}
            </footer>
        </article>

        {% endblock content %}
