        {% if DEFAULT_PAGINATION %}
        <div class="w3-center">
            <div class="w3-bar w3-pagination">
                {% if articles_page.has_previous() %}
                <a class="w3-bar-item w3-button w3-xlarge" href="{{ SITEURL }}/{{ articles_previous_page.url }}">&#10094;</a>
                {% endif %}
                
                {% for pn in range(1, 1 + articles_paginator.num_pages) %}
                <a class="w3-bar-item w3-button w3-xlarge {{ 'w3-grey' if pn == articles_page.number else '' }}" href="{{ SITEURL }}/{{ page_name }}{{ pn if pn > 1 else '' }}.html">{{ pn }}</a>
                {% endfor %}
                
                {% if articles_page.has_next() %}
                <a class="w3-bar-item w3-button w3-xlarge" href="{{ SITEURL }}/{{ articles_next_page.url }}">&#10095;</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
