        {% extends "base.html" %}

        {% block content %}

        <article>
            <header class="w3-container col-main">
                <h2>Архивы за {{ period | reverse | join(' ') }}</h2>
            </header>
            <section id="notes" class="w3-container">
                <ul>
                    {% for article in dates %}
                    <li><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                    {% endfor %}
                </ul>
            </section>
        </article>

        {% endblock content %}
