    {% extends "index.html" %}

    {% block title %}{{ tag }} &ndash; {{ SITENAME }}{% endblock %}

    {% block content_title %}

    <div class="w3-container w3-center">
      <h2>Статьи с тэгом #{{ tag }}</h2>
    </div>

    {% endblock content_title %}
