        {% extends "base.html" %}

        {% block title %}Тэги &ndash; {{ SITENAME }}{% endblock %}

        {% block content %}

        <article>
            <header class="w3-container">
                <h2>Тэги подкастов</h2>
            </header>

            <section id="notes" class="w3-container">
                <ul>
                    {%- for tag, articles in tags|sort %}
                    <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }} ({{ articles|count }})</a>
                    {% endfor %}
                </ul>
            </section>
        </article>

        {% endblock content %}
